/* 16.0 Archive/News Page stylings -------------------------------------------*/
.post{
  @include breakpoint(smallScreen){
    padding: 0 0 20px 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 20px 0;
  }
  @include breakpoint(laptopScreen){
    padding: 0 25px 20px 25px;
  }
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-top: 15px;
    }
}
.singlePost{
  .entry-title{
    @include breakpoint(smallScreen){
      margin-top: 125px;
    }
    @include breakpoint(largeMobileScreen){
      margin-top: 75px;
    }
    @include breakpoint(laptopScreen){
      margin-top: 50px;
    }
  }
}
.screen-reader-text{
  border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important;
}
.blogTitleLink{
	text-decoration: none;
	color: $primaryGrey;
	transition: .3s ease all;
	position: relative;
    &:hover{
    color: $primaryGrey;
    transition: .3s ease all;
  }
}
.updated{
  display: none;
}
.posted-on{
  a{
  	text-decoration: none;
  	color: $brandColor !important;
  	transition: .3s ease all;
      &:hover{
      color: $brandColorDark !important;
      transition: .3s ease all;
      }
  }
}
.vcard{
  a{
    text-decoration: none;
  	color: $brandColor !important;
  	transition: .3s ease all;
      &:hover{
      color: $brandColorDark !important;
      transition: .3s ease all;
      }
  }
}
.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-previous{
  position: relative;
	z-index:1;
  font-family: $prometoMedium;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $brandColor;
	border-radius: 10px 0 0 10px;
	background: $brandColor;
	padding: 10px 25px 10px 25px;
	width: 50%;
	color: $white;
	transition: .3s ease;
	cursor: pointer;
  a {
    color: $white;
  }
	&:after {
		width: 0;
	}
    &:hover{
      background: $brandColorDark;
			border: 2px solid $brandColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	transition: .3s ease;
			color: $white;
    }
}
.nav-next{
  position: relative;
	z-index:1;
  font-family: $prometoMedium;
	font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
	border: 2px solid $brandColor;
	border-radius: 0 10px 10px 0;
	background: $brandColor;
	padding: 10px 25px 10px 25px;
	width: 50%;
	color: $white;
	transition: .3s ease;
	cursor: pointer;
  a {
    color: $white;
  }
	&:after {
		width: 0;
	}
    &:hover{
      background: $brandColorDark;
			border: 2px solid $brandColorDark;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	transition: .3s ease;
    }
}
.post-thumbnail{
  text-align:center;
  .size-full{
    width: 70%;
    height: auto;
  }
}
.size-full{
  width: 100%;
  height: auto;
}
.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  border-bottom: 5px solid $brandColor;
}
.search-form{
  .search-submit{
    background-color: $primaryGrey;
    border: 2px solid $primaryGrey;
    color: $black;
    transition: .3s ease all;
    &:hover{
      background-color: $transparent;
      border: 2px solid $primaryGrey;
      color: $primaryGrey;
      transition: .3s ease all;
    }
  }
}
.postHeader{
  margin-bottom: 15px;
}
.blogText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
  margin: 0 auto;
    @include breakpoint(smallScreen){
      padding: 0;
    }
    @include breakpoint(largeMobileScreen){
      padding: 0;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
#search-2 {
  background-color: $brandColor;
  text-align: center;
  border-radius: 10px;
  h2 {
    font-size: 1.6em;
    font-weight: 700;
    color: $white;
  }
  .searchForm {
    padding: 0 0 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
#categories-2 {
  background-color: $lightGrey;
  margin-top: 25px;
  .widget-title {
    text-align: center;
    font-size: 1.6em;
  }
  ul {
    list-style-type: none;
    padding: 0 0 20px 20px;
  }
}
#media_gallery-2 {
  .widget-title {
    text-align: center;
    font-size: 1.6em;
  }
  a {
    &:after {
      width: 0%;
    }
  }
  img {
    width: 15%;
    height: auto;
    @include breakpoint (laptopScreen) {
      width: 40%;
    }
    @include breakpoint (extraLargeScreen) {
      width: 30%;
    }
  }
}
.socialOutterWrapper {
  background-color: $brandColor;
  margin-top: 25px;
}
.searchWrapper, .categoryWrapper, .socialOutterWrapper {
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.blogSideBar {
  nav {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    a {
      width: 50px;
    }
  }
  .socialWrapper {
    img {
      width: 25px;
    }
  }
}
.articleWrapper {
  .entry-header {
    display: block;
  }
  .entry-title {
    a {
      &:after {
        width: 0;
      }
    }
  }
  .thumbnailWrapper {
    a {
      &:after {
        width: 0;
      }
    }
  }
}
.postWrapper {
  .entry-header {
    display: block;
  }
  .attachment-post-thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.pagination {
  .nav-links {
    justify-content: space-around;
  }
}
#sidebarAffiliations {
  #affiliations {
    padding: 0;
  }
  #affiliateTitleWrap {
    width: 100%;
    margin-top: 25px;
  }
  #affiliationsTitle {
    &:before {
      width: 0;
    }
    &:after {
      width: 0;
    }
  }
  #affiliateWrapper {
    img {
      width: 15%;
      @include breakpoint (laptopScreen) {
        width: 40%;
      }
      @include breakpoint (extraLargeScreen) {
        width: 30%;
      }
    }
  }
}
.innerWrap {
  padding: 0 0 20px 0;
}
.post-thumbnail {
  &:after {
    width: 0%;
  }
}
#search {
  .entry-header {
      display: block !important;
      .entry-title {
        a {
          &:after {
            width: 0%;
          }
        }
      }
  }
  .awsm_job_openings, .type-tour, .type-page {
      padding: 0 25px 20px 25px;
  }
  #post-1358 {
    display: none;
  }
}
.page-header {
  @include breakpoint (laptopScreen) {
    margin-right: 25px;
  }
}
