/* 7.0 Button Stylings ---------------------------------------*/
.primaryLink{
  color: $primaryGrey !important;
	transition: .3s ease all;
  text-decoration: none;
	position: relative;
		&:after{
			content: "";
			position: absolute;
			z-index: -1;
			background-color: $primaryYellow;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transition: .3s ease all;
		}
    &:hover{
			&:after{
				height: 100%;
				transition: .3s ease all;
			}
    }
    &:focus{
			&:after{
				height: 100%;
				transition: .3s ease all;
			}
    }
}
.primaryButton{
	position: relative;
	z-index:1;
	text-decoration: none;
  width: fit-content;
	width: -moz-max-content;
  width: -ms-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
	color: $primaryGrey;
	transition: .2s ease all;
  padding: 10px 20px 10px 20px;
	cursor: pointer;
		&:before{
			position: absolute;
			content: "";
			background: $primaryYellow;
			top: 0;
			left: 0;
			width: 10%;
			height: 2px;
			transition: 0.2s ease-out;
		}
		&:after{
			position: absolute;
			content: "";
			background: $primaryYellow;
			bottom: 0;
			right: 0;
			width: 10%;
			height: 2px;
			transition: 0.2s ease-out;
		}
		&:hover{
			&:before{
				width: 100%;
			}
			&:after{
				width: 100%;
			}
		}
    &:focus{
			&:before{
				width: 100%;
			}
			&:after{
				width: 100%;
			}
		}
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}

.buttonWrapper{
	padding: 50px 0;
}
button{
	background-color: $transparent;
	border: none;
}
.filterButton{
	padding: 10px;
	cursor: pointer;
	transition: .2s ease all;
	margin: 5px 0;
	background: $primaryGrey;
	color: $white;
	&:active{
		background: $primaryYellow;
		color: $white;
	}
	&:focus{
		background: $primaryYellow;
		color: $white;
	}
	&:hover{
		background: $primaryYellow;
		transition: .2s ease all;
	}
}
