/* 18.0 Careers Page stylings -------------------------------------------*/
#careersList{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  li{
    list-style-type: none;
    font-family: $prometoMedium;
		margin: 0 20px 10px 20px;
    a {
      color: $headlineText !important;
      text-decoration: none;
    }
	}
}
.subNavLink{
  color: $black;
  text-decoration: none;
  transition: .2s ease all;
  font-size: 16px;
  &:hover{
    color: $primaryYellow;
    transition: .2s ease all;
  }
}
.careersSidebar{
	border-right: 1px solid $primaryGrey;
	margin-top: 45px;
	@include breakpoint(smallScreen){
		padding: 0 20px;
	}
	@include breakpoint(largeMobileScreen){
		padding: 0 20px;
	}
	@include breakpoint(laptopScreen){
		display: block;
  	padding: 0;
	}
}
