/*4.0 Header Styling -------------------------------------------*/
.screenReaderSkipToContent{
	position: absolute;
	top: -100px;
	&:focus{
		left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: $brandColor;
    color: $white;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	}
}
.site-header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 70px;
	width: 100vw;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	@include breakpoint (tabletScreen) {
		position: fixed;
	}
}
.main-navigation{
	position: relative;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	background: $white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
		@include breakpoint(smallScreen){
			height: 70px;
		}
}
.scrollUp {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: .3s ease;
		transition: .3s ease;
		@include breakpoint (laptopScreen) {
			-webkit-transform: translateY(-150px);
			        transform: translateY(-150px);
		}
}
.secondaryNavigation{
		display: block;
		position: relative;
		z-index: 0;
		@include breakpoint (laptopScreen) {
			z-index: 2;
			height: 42px;
			margin: 0 auto;
			width: 100%;
			background: $brandColor;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
}
#PrimaryMenu{
	position: absolute;
  top: 265px;
  left: 0;
  background: $headlineText;
  width: 100%;
	display: none;
	-webkit-transition: 2.3s ease;
	transition: 2.3s ease;
	@include breakpoint (largeMobileScreen) {
		top: 315px;
	}
	@include breakpoint(laptopScreen){
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top: 0;
		background-color: $white;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
	li{
		padding: 10px 10px;
		list-style-type: none;
		a{
			text-decoration: none;
			color: $white;
			font-family: $prometoMedium;
			text-transform: uppercase;
			font-weight: 500;
			@include breakpoint(tabletScreen){
				font-size: 16px;
			}
			@include breakpoint (laptopScreen) {
				color: $headlineText;
			}
		}
	}
}
#SecondaryMenu{
	-webkit-margin-before: 0;
	        margin-block-start: 0;
	-webkit-padding-start: 0;
	   -moz-padding-start: 0;
	        padding-inline-start: 0;
	-webkit-margin-after: 0;
	        margin-block-end: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: $brandColor;
	@include breakpoint (laptopScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	li{
		padding: 3px 15px;
		list-style-type: none;
		a{
			text-decoration: none;
			color: $white;
			font-family: $prometoMedium;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 500;
			-webkit-transition: .2s ease;
			transition: .2s ease;
			&:hover {
				-webkit-transition: .2s ease;
				transition: .2s ease;
				color: $primaryYellow;
			}
			&:focus {
				-webkit-transition: .2s ease;
				transition: .2s ease;
				color: $primaryYellow;
			}
		}
	}
}
#PrimaryMobile {
	-webkit-margin-before: 0;
	        margin-block-start: 0;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	@include breakpoint (laptopScreen) {
		display: none;
	}
	li{
		padding: 10px 15px;
		list-style-type: none;
		a{
			text-decoration: none;
			color: $white;
			font-family: $prometoMedium;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 500;
		}
	}
}
.searchForm {
	background-color: $brandColor;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
		label {
				display: none;
		}
	@include breakpoint (laptopScreen) {
		height: auto;
		-webkit-box-align: normal;
		    -ms-flex-align: normal;
		            -ms-grid-row-align: normal;
		        align-items: normal;
	}
}
.searchField{
	font-family: $prometoMedium;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-radius: 30px;
	height: 30px;
	padding: 10px;
	@include breakpoint (smallScreen) {
		width: 90%;
	}
	@include breakpoint (largeMobileScreen) {
		width: 90%;
	}
	@include breakpoint (laptopScreen) {
		width: 175px;
	}
}
.search-submit{
	display: none;
}
.searchIcon {
	width: 18px;
	height: 18px;
	position: relative;
	right: 30px;
	@include breakpoint (laptopScreen) {
		top: 5px;
	}
}
.menu-item-37{
	background-color: $brandColorDark;
	@include breakpoint (laptopScreen) {
		margin-right: 20px;
	}
}
#PrimaryMenu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	li {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		a {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			position: relative;
			&:after{
				position: absolute;
				content: "";
				background: $primaryYellow;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 4px;
				-webkit-transition: 0.2s ease-out;
				transition: 0.2s ease-out;
				opacity: 0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			}
			&:hover{
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				&:after{
					bottom: -5px;
					opacity: 1;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					-webkit-transition: 0.2s ease-out;
					transition: 0.2s ease-out;
				}
			}
			&:focus{
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				&:after{
					bottom: -5px;
					opacity: 1;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					-webkit-transition: 0.2s ease-out;
					transition: 0.2s ease-out;
				}
			}
		}
	}
}
.current-menu-item{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	a {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		position: relative;
		&:after{
			position: absolute;
			content: "";
			background: $primaryYellow;
			bottom: -5px !important;
			right: 0;
			width: 100%;
			height: 4px;
			opacity: 1 !important;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		}
	}
}
.menuLinkWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.secondaryMenuWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	position: absolute;
	top: 70px;
	display: none;
	-webkit-transition: 2.3s ease;
	transition: 2.3s ease;
	@include breakpoint (largeMobileScreen) {
		top: 100px;
	}
	@include breakpoint (laptopScreen) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		top: 0;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
}
.secondaryLinkWrapper{
	background-color: $secondaryGrey;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0 10px;
}
.secondaryLink{
	color: $black;
	padding: 0 15px;
	text-decoration: none;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	font-size: 14px;
		&:hover{
			color: $lightGrey;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
			@include breakpoint(smallScreen){
				font-size: 12px;
			}
}
.entry-header{
	display:none;
}
.siteLogo{
	margin-top: 10px;
	height: auto;
	@include breakpoint(smallScreen){
		width: 150px;
	}
	@include breakpoint(largeMobileScreen){
		width: 185px;
	}
	@include breakpoint(largeScreen){
		width: 320px;
	}
}
nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	width: 100%;
	a {
		&:after {
			width: 0;
		}
	}
}
.menuText{
	cursor: pointer;
	font-family: $prometoMedium;
	font-size: 26px;
	font-weight: 700;
	padding-right: 5px;
	color: $headlineText;
	text-decoration: none;
	-webkit-transition: .3s ease-out all;
	transition: .3s ease-out all;
}
.menuTextWrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin-left: 10px;
	right: 100px;
}
.open{
	position: absolute;
	display: block !important;
	-webkit-transition: .1s ease-out all !important;
	transition: .1s ease-out all !important;
}
.mobile-menu{
	position: absolute;
	display: block;
  width: 90%;
  top: 0;
  padding: 70px 0 20px 0;
  margin: 0 auto;
  z-index: 999;
  height: auto;
  width: 100%;
  background-color: $headlineText;
  -webkit-transition: .2s ease-out all;
  transition: .2s ease-out all;
	-webkit-transform: translateY(-120%);
	        transform: translateY(-120%);
	@include breakpoint(largeMobileScreen){
		padding: 100px 0 20px 0;
	}
	@include breakpoint(tabletScreen){
		position: fixed;
	}
	@include breakpoint(laptopScreen){
		display: none;
	}
	li{
		list-style-type: none;
		font-size: 20px;
		padding: 5px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		a{
			color: $white;
			font-weight: 700;
			text-decoration: none;
		}
	}
}
.menu{
	.active{
		a{
				border-bottom: 2px solid $primaryGrey !important;
				color: $white;
				width: 100%;
				text-align: initial;
			}
		}
}
.menuButtonWrap{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	right: 30px;
		@include breakpoint(smallScreen){
			padding: 15px 0 15px 15px;
		}
		@include breakpoint(largeMobileScreen){
			padding: 15px 0 15px 15px;
		}
		@include breakpoint(laptopScreen){
			display: none;
		}
}
// Add Animation to our hamburger Menu
.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.hamburger.is-active:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after {
  background-color: $headlineText;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  width: 30px;
  height: 3px;
  background-color: $headlineText;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.hamburger-inner:before, .hamburger-inner:after {
  content: "";
  display: block;
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger-inner:after {
  bottom: -10px;
}
/*
* Collapse
*/
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: -2px;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner:before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
