#asl-storelocator {
  height: auto !important;
}
#asl-storelocator.container.no-pad.storelocator-main.asl-p-cont.asl-bg-0 {
  max-width: 100% !important;
}
.cityTitle {
  font-family: $prometoMedium;
	text-transform: uppercase;
  font-weight: 700;
}
