/* 12.0 Service Page stylings -------------------------------------------*/
.stickyMenuContainer {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9998;
}
.stickyMenu {
	display: none;
	background-color: $brandColor;
	@include breakpoint (largeScreen) {
		display: block;
	}
	#ServiceMenu, #FleetMenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			list-style-type: none;
			padding: 0 5px;
			a {
				color: $white;
				text-decoration: none;
				font-size: 10px;
				font-family: $prometoMedium;
				text-transform: uppercase;
				transition: .2s ease;
				@include breakpoint (extraLargeScreen) {
					font-size: 14px;
				}
				&:hover {
					color: $primaryYellow;
					transition: .2s ease;
				}
			}
		}
	}
}
.servicesList{
	list-style-type: none;
  padding-left: 0;
	li{
		margin-bottom: 10px;
	}
}
