.tourmaster-tour-thumbnail {
  img {
    height: auto;
    width: 100%;
    border-bottom: 5px solid $brandColor;
  }
  a{
    &:after {
      width: 0;
    }
  }
}
.tourmaster-tour-content-wrap {
  a {
    &:after {
      width: 0;
    }
  }
}
.tourmaster-tour-item .tourmaster-tour-grid .tourmaster-tour-discount-price,
.tourmaster-tour-item .tourmaster-tour-grid .tourmaster-tour-price .tourmaster-tail {
  color: $brandColor;
}
.tourmaster-tour-info-wrap i {
  color: $brandColor;
}
.tourmaster-header-price .tourmaster-tour-price-wrap.tourmaster-discount .tourmaster-tour-price, .tourmaster-header-price .tourmaster-tour-price-info {
  color: $brandColorDark !important;
}
.tourmaster-tour-search-wrap form {
  display: flex;
  flex-direction: column;
  .tourmaster-tour-search-field {
    width: 100% !important;
    @include breakpoint (laptopScreen) {
      width: 90% !important;
    }
  }
  .tourmaster-tour-search-submit {
    width: 100% !important;
    cursor: pointer;
    @include breakpoint (laptopScreen) {
      width: 90% !important;
    }
  }
}
.tourmaster-tour-grid .tourmaster-tour-content {
  font-weight: 400;
}
.tourmaster-column-20 {
  width: 95%;
  @include breakpoint (largeMobileScreen) {
    width: 45%;
  }
  @include breakpoint (laptopScreen) {
    width: 29%;
  }
}
.tourmaster-item-pdlr {
  padding-left: 15px;
  padding-right: 15px;
}
.tourmaster-column-30 {
  @include breakpoint (tabletScreen) {
    padding: 10px;
    width: 45% !important;
  }
  @include breakpoint (largeScreen) {
    width: 40% !important;
  }
}
.tourmaster-body .tourmaster-container, .single-tour.tourmaster-body {
  padding-left: 0;
  padding-right: 0;
}
.tourmaster-container {
  padding-left: 0;
  padding-right: 0;
}
body.single-tour.tourmaster-bottom-booking-bar .tourmaster-template-wrapper {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  @include breakpoint (laptopScreen) {
    display: block !important;
  }
}
body.single-tour.tourmaster-bottom-booking-bar .tourmaster-tour-booking-bar-container.tourmaster-container {
  order: 2 !important;
}
.tourmaster-head {
  font-family: $prometoMedium;
	text-transform: uppercase;
  font-weight: 700;
}
.tourmaster-enquiry-term {
  font-size: 14px;
}
// Tour search styling
.tourmaster-tour-search-item-head {
  display: none;
}
.tourmaster-template-wrapper {
  background-color: $white !important;
}
.tourmaster-tour-grid.tourmaster-tour-frame .tourmaster-tour-thumbnail {
  margin-bottom: 28px;
}
.tourmaster-tour-grid.tourmaster-tour-frame .tourmaster-tour-content-wrap {
  padding: 0;
}
.tourmaster-tour-grid.tourmaster-tour-frame .tourmaster-tour-price-wrap {
  top: 0;
  right: 0;
}
.tourmaster-tour-search-item .tourmaster-tour-search-item-divier {
  display: none;
}
.tourmaster-page-content {
  padding-top: 0;
}
.ui-datepicker-header {
  a {
    &:after {
      width: 0%;
      bottom: 35px;
      left: 15px;
    }
  }
}
.ui-datepicker-calendar {
  a {
    &:after {
      width: 0%;
    }
  }
}
.tourmaster-tour-category-item-wrap {
  height: 350px;
}
.tourmaster-tour-category {
  display: flex;
  justify-content: center;
}
 .tourmaster-sidebar-right {
   display: none;
 }
.tourmaster-pagination {
  a {
    &:after {
      width: 0%;
    }
  }
}
.tourmaster-item-mgb {
  margin-bottom: 0;
}
.tourmaster-tour-category-overlay-front {
  border-bottom: 5px solid $brandColor;
}
.tourmaster-tour-category-count {
  color: $white !important;
}
.tourmaster-tour-category-head-link {
  color: $white !important;
  font-size: 16px !important;
}
.tourmaster-column-45 {
  width: 100%;
}
.tourmaster-media-image{
  img {
    width: 100%;
    height: auto;
  }
}
#officeList {
  display: flex;
  flex-wrap: wrap;
}
