/* 16.0 Archive/News Page stylings -------------------------------------------*/
.post{
  @include breakpoint(smallScreen){
    padding: 0 0 20px 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 20px 0;
  }
  @include breakpoint(laptopScreen){
    padding: 20px;
  }
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-top: 15px;
    }
}
.singlePost{
  .entry-title{
    @include breakpoint(smallScreen){
      margin-top: 125px;
    }
    @include breakpoint(largeMobileScreen){
      margin-top: 75px;
    }
    @include breakpoint(laptopScreen){
      margin-top: 50px;
    }
  }
}
.screen-reader-text{
  border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important;
}
.blogTitleLink{
	text-decoration: none;
	color: $primaryGrey;
	transition: .3s ease all;
	position: relative;
    &:hover{
    color: $primaryGrey;
    transition: .3s ease all;
  }
}
.updated{
  display: none;
}
.posted-on{
  a{
  	text-decoration: none;
  	color: $primaryYellow !important;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      transition: .3s ease all;
      }
  }
}
.vcard{
  a{
    text-decoration: none;
  	color: $primaryYellow !important;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      transition: .3s ease all;
      }
  }
}
.nav-links{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-previous{
  background: $primaryGrey;
  padding: 10px;
  transition: .3s ease all;
  a{
    color: $white;
    text-decoration: none;
  }
  &:hover{
    background: $primaryGrey;
    transition: .3s ease all;
  }
}
.nav-next{
  background: $primaryGrey;
  padding: 10px;
  transition: .3s ease all;
  a{
    color: $white;
    text-decoration: none;
  }
  &:hover{
    background: $primaryGrey;
    transition: .3s ease all;
  }
}
.post-thumbnail{
  text-align:center;
  .size-full{
    width: 70%;
    height: auto;
  }
}
.size-full{
  width: 100%;
  height: auto;
}
.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.search-form{
  .search-submit{
    background-color: $primaryGrey;
    border: 2px solid $primaryGrey;
    color: $black;
    transition: .3s ease all;
    &:hover{
      background-color: $transparent;
      border: 2px solid $primaryGrey;
      color: $primaryGrey;
      transition: .3s ease all;
    }
  }
}
.postHeader{
  margin-bottom: 15px;
}
.blogText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
  margin: 0 auto;
    @include breakpoint(smallScreen){
      padding: 0;
    }
    @include breakpoint(largeMobileScreen){
      padding: 0;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.thumbnailWrapper{
  .post-thumbnail{
    .attachment-post-thumbnail{
      width: 70%;
    }
  }
}
