/* 1.0 sitewide variables -------------------------------------------*/
$primaryGrey: #404041;
$secondaryGrey: #a5a7aa;
$primaryYellow: #f4a81d;
$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #f6f6f6;
